* {
  margin: 0;
  padding: 0;
}

.nav-container {
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-left: 113px;
}

.main {
  height: 169vh;
  width: 84vw;
  /* border: 2px solid black; */
  margin: 8px auto;
  background-color: #f0f1f1;
  border-radius: 10px;
}
.box1 {
  position: relative;
}
.textContent {
  height: 90px;
  width: auto;
  /* border: 1px solid black; */
  margin: 2px 7px;
  display: flex;
  position: relative;
}

.box1 p {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 800;
  margin-top: -17px;
}
.box1 h3 {
  font-size: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}
.box2 {
  height: 85px;
  width: 190px;
  /* border: 1px solid black; */
  margin: -10px -23px;
  box-sizing: border-box;
  padding: 24px 10px;
}
.box3 {
  height: 85px;
  width: 881px;
  /* border: 1px solid black; */
  margin: 2px -6px;
  box-sizing: border-box;
  padding: 20px 5px 0px 488px;
}

.boxContainer {
  height: 500px;
  width: auto;
  /* border: 1px solid black; */
  margin: 2px 7px;
  display: flex;
  flex-wrap: wrap;
}
.graphContainer {
  height: 437px;
  width: 100%;
  /* border: 1px solid black; */
  margin: 2px 7px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.btn1 {
  /* margin: 0px 69px; */
  padding: 3px 18px;
  border-radius: 9px;
  background-color: #180c56;
}
.btn2 {
  /* margin: 0px 69px; */
  padding: 3px 18px;
  border-radius: 9px;
  background-color: #14f4bd;
}
.box3 button a {
  text-decoration: none;
  color: white;
}

.currentStatus {
  height: 243px;
  width: 499px;
  /* border: 1px solid red; */
  margin: 14px 7px;
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.currentStatus h4 {
  /* margin-left: 11px; */
  font-size: 21px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}
.journeyBg {
  position: absolute;
  top: 43px;
  height: 157px;
  left: 140px;
}
.journey {
  position: absolute;
  top: 41px;
  height: 151px;
  left: 144px;
}
.feedbackList {
  height: 243px;
  width: 749px;
  /* border: 1px solid blue; */
  margin: 15px 7px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.feedbackList h3 {
  /* margin-left: 11px; */
  font-size: 21px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}
.journeyman {
  position: absolute;
  top: 202px;
  left: 127px;
  font-size: 31px !important;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600 !important;
}

.floatWallet1 {
  position: absolute;
  top: 36px;
  left: 240px;
  font-size: 15px !important;
  color: #23ff23;
}
.floatWallet2 {
  position: absolute;
  top: 59px;
  left: 236px;
  font-size: 14px !important;
  color: #9ba99b;
}
.row {
  align-items: center;
}
.btnDiv .btn1 a{
  text-decoration: none;
  color: white;
}
.btnDiv .btn2 a{
  text-decoration: none;
  color: white;
}